body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: teal;
    text-align: center;
}
#searchBox {
    text-align: center;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 6px gray solid;
    width: 900px;
    height: 50px;
}
#search {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    height: fit-content;
    width: 80vw;
    border: 6px gray solid;
    padding: 0;
}
#today {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;
    width: 80vw;
    height: fit-content;
    background-color: white;
}
#counter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    height: 400px;
    width: 700px;
    background-color: white;
    margin: 100px 0;
}
#calCount, #carbCount, #fatCount, #proCount {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 690px;
    text-align: right;
    margin: 5px auto;
    background-color: gray;
}
#calPercent, #carbPercent, #fatPercent, #proPercent {
    text-align: right;
    height: 40px;
    width: 1%;
    background-color: red;
}
#searchForm, #search, #today, #counter {
    display: none;
}
#calculator {
    order: -1;
    background-color: teal;
    width: 80vw;
}
.HWA {
    width: 600px;
    margin: 15px auto;
    text-align: center;
}
#example {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 120px;
    width: 506px;
}
#example:hover, #example:hover div {
    background-color: #cccccc;
}
#example > *{
    background-color: white;
    color: black;
}
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.left {
    display: flex;
    height: 100%;
    width: 20%;
    overflow: none;
}
.left > img{
    display: flex;
    border-radius: 10px;
    padding: 5px 0;
    width: 100px;
    height: 100px;
}
#borderRight {
    width: 100%;
    height: 2px;
    background-color: black;
}
.right > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.right > h2 {
    margin: 0 auto 20px auto;
}
.right > ul > li {
    width: 50px;
    padding: 0 25px;
    font-size: 25px;
    color: black;
}
@media only screen and (min-width: 600px) {
    #calculator {
        margin-top: 250px;
        transform: scale(1.5);
    }
}
